/mango-core/mango-core.iml
# Created by .ignore support plugin (hsz.mobi)
out
.idea
agent.iml
agent.ipr
agent.iws
mango.iml
C:
src/main/java/com/kinglong/mango/config/temp
/logs/error.log
/logs
src/main/java/com/kinglong/mango/config/spring/temp
/mango-core/target
/mango-parent.iml
